<template name="_appHeader">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{pathFor 'home'}}" class="logo"><b>Group</b>Assurance</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                    <a href="#" data-action="logout" class="btn btn-default navbar-btn">Sign out</a>
                    {{else}}
                    <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
                    <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a> {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {{#if currentUser}}    
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="info">
                    <p>Hello {{currentUser.profile.name}}</p>
                </div>
            </div>

           <!-- Sidebar Menu -->
            <ul class="sidebar-menu">

                <li class="header">Messages</li>
                {{#if showCompanySection}}
                <li><a href="{{ pathFor 'companyInbox' }}"><span>Inbox</span></a></li>
                <li><a href="#"><span>Outbox</span></a></li>
                <li><a href="#"><span>Trash</span></a></li>
                {{/if}}

                <li class="header">Services</li>
                {{#if isInRole 'create'}}
                <li><a href="{{ pathFor 'view-proposals' }}"><span>View Proposals</span></a></li>
                <li><a href="{{ pathFor 'create-proposal' }}"><span>Create Proposal</span></a></li>
                {{/if}}    

                <li class="header">Help</li>
                <li><a href="#"><span>Quick Tips</span></a></li>
                <li><a href="#"><span>Guide / Tutorial</span></a></li>
                <li><a href="#"><span>Contact Support</span></a></li>
                

            </ul>
            <!-- /.sidebar-menu -->
            {{/if}}
        </section>
        <!-- /.sidebar -->
    </aside>
    
</template>
