<template name="_publicHeader">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{pathFor 'home'}}" class="logo"><b>Group</b>Insurance</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                       <a href="#" data-action="logout" class="btn btn-default navbar-btn">Sign out</a>
                        <a href="{{ pathFor 'dashboard' }}" class="btn btn-primary navbar-btn">Enter App</a>
                    {{else}}
                        <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
                        <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a> 
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
</template>
