<template name="companyInbox">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Inbox
            <small>Your open tasks</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Inbox</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          {{flash}}
          <div class="box box-info">

            <div class="box-body">
              <div class="box-body table-responsive">
                <table class="table table-hover table-bordered table-striped">
                  <tr>
                    <th width="20%">Ref Number</th>
                    <th width="60%">Task</th>
                    <th width="20%">Status</th>
                  </tr>
                  {{#each tasks}}  
                  <tr>
                      <td><a href="/view/Proposal/{{url}}" data-toggle="tooltip" title="View Proposal Details">{{refNo}}</a></td>
                      <td>{{desciption}}</td>
                      <td>
                        <span class="label label-{{statusIndicator}}">{{status}}</span>
                      </td>
                      
                  </tr>
                {{/each}}
                </table>
              </div>
            </div>
        </div>          



        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</template>
