<template name="createProposal">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Proposal Creation Screen
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Create Proposal</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">New Proposal</h3>
            </div>
          <div class="box-body">
            <!--
            {{> quickForm collection="Proposals" id="insertProposalForm" type="insert" omitFields="createdAt, updatedAt"}}
            -->
            {{> insertProposalFormTemplate}}
          </div>
        </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</template>

<template name="insertProposalFormTemplate">
  {{flash}}
  {{#autoForm schema="ProposalSchema" collection="Proposals" id="insertProposalForm" type="insert"}}
    <fieldset>
          {{> afQuickField name='status' value="DRAFT PROPOSAL" readonly=true}} 
        <div class="form-group {{#if afFieldIsInvalid name='incType'}}has-error {{/if}}" >
          {{> afQuickField name='incType' autofocus='' options=incTypes}}
          
        </div>
        
        <div class="form-group {{#if afFieldIsInvalid name='summary'}}has-error {{/if}}" >
          {{> afQuickField name='summary'}}
          
        </div>
        <div class="form-group {{#if afFieldIsInvalid name='details'}}has-error {{/if}}" >
          {{> afQuickField name='details'  rows=5}}
          
        </div>

        <div class="form-group {{#if afFieldIsInvalid name='empDetailsAttach'}}has-error {{/if}}" >
          {{> afQuickField name='empDetailsAttach'}}
          
          
        </div>
        <span class="help-block">Please wait for the file upload</span>
    </fieldset>
    <button type="submit" class="btn btn-primary">Create Proposal</button>

  {{/autoForm}}
         
</template>
