<template name="viewProposals">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           View Proposals
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Proposals List</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          {{flash}}
          <div class="box box-info">

          <div class="box-body">
            <div class="box-body table-responsive">
              <table class="table table-hover table-bordered table-striped">
                <tr>
                  <th width="20%">Proposal Reference Number</th>
                  <th width="40%">Summary</th>
                  <th width="20%">Status</th>
                  <th width="20%">Action</th>
                  
                </tr>
                {{#each proposals}}  
                  <tr>
                      <td><a href="/view/Proposal/{{_id}}" data-toggle="tooltip" title="View Details">{{refNo}}</a></td>
                      <td>{{summary}}</td>
                      <td>{{status}}</td>
                      <td>
                        <a href="/view/Proposal/{{_id}}"   class="btn bg-red btn-sm btn-flat"><i class="fa fa-eye" data-toggle="tooltip" title="View / Edit Proposal"></i></a>
                        &nbsp; 
                        {{#quickRemoveButton collection="Proposals" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove class="btn bg-red btn-sm btn-flat"}}<i class="fa fa-remove" data-toggle="tooltip" title="Delete Proposal"></i>{{/quickRemoveButton}}
                        <!--<a href="/delete/{{_id}}"  data-toggle="tooltip" title="Delete Proposal"><i class="fa fa-remove"></i></a> -->
                      </td>

                  </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</template>
