<template name="viewProposalDetails">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- View Part -->
        {{#if isEditing}}
          <section class="content-header">
            <h1>
              Edit Proposal
              <small><button class="btn btn-flat btn-sm btn-warning cancelEdit">Cancel Edit</button></small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i> Home</a></li>
              <li><a href="{{pathFor 'view-proposals'}}"><i class="fa fa-dashboard"></i> View Proposals</a></li>
              <li class="active">Edit Proposal Details</li>
            </ol>
          </section>
          
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">{{status}}</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                  {{flash}}
                  {{#autoForm doc=this collection="Proposals" id="updateProposalForm123" type="update"}}
                    <fieldset>
                          {{> afQuickField name='status' readonly=true}} 
                        <div class="form-group {{#if afFieldIsInvalid name='incType'}}has-error {{/if}}" >
                          {{> afQuickField name='incType' autofocus='' options=incTypes}}
                          <span class="help-block">{{afFieldMessage name='summary'}}</span>
                        </div>
                        
                        <div class="form-group {{#if afFieldIsInvalid name='summary'}}has-error {{/if}}" >
                          {{> afQuickField name='summary'}}
                          <span class="help-block">{{afFieldMessage name='summary'}}</span>
                        </div>
                        <div class="form-group {{#if afFieldIsInvalid name='details'}}has-error {{/if}}" >
                          {{> afQuickField name='details'  rows=5}}
                          <span class="help-block">{{afFieldMessage name='details'}}</span>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Update Proposal</button>

                  {{/autoForm}}

              </div>
            </div>
            </section>   
        {{else}}
          <section class="content-header">
            {{flash}}
            <h1>
              Proposal Details
              {{#if isEditRequired}}
                <small><button class="btn btn-flat btn-sm btn-success edit">Edit</button></small>
              {{else}}
                <small>Proposal is pending action. Edit is not allowed</small>
              {{/if}}
            </h1>
            <ol class="breadcrumb">
              <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i> Home</a></li>
              <li><a href="{{pathFor 'view-proposals'}}"><i class="fa fa-dashboard"></i> View Proposals</a></li>
              <li class="active">View Proposal</li>
            </ol>
          </section>
          
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">{{status}}</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <strong>Summary</strong>
                <p class="text-muted">
                  {{summary}}
                </p>

                <hr>

                <strong>Detailed Description</strong>
                <p class="text-muted">{{details}}</p>

                <hr>

                <strong>Created on</strong>
                <p class="text-muted">{{createdAt}}</p>
                <hr>

                <strong>Created By</strong>
                <p class="text-muted">{{this.creator.profile.name}}</p>
                <hr>
                <strong>Employee Details (Refer File Attached)</strong> 
                <p class="text-muted"><a href="{{empDetailsAttach.url download=true}}" target="_parent">{{empDetailsAttach.name}}</a></p>
                
                 
                
 
              </div><!-- /.box-body -->
              <div class="box-footer">
              {{#if isSubmitForReviewRequired}}
              <button class="btn btn-flat btn-primary submitForReview">Submit For Review</button>
              <button class="btn btn-flat btn-info">Attach Additional Documents</button>
              {{/if}}
              <!--{{#quickRemoveButton collection="Proposals" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove class="btn bg-red pull-right btn-flat"}}Delete{{/quickRemoveButton}}
              -->
              </div>
            </div>    
          </section><!-- /.content --> 
        {{/if}}
      </div><!-- /.content-wrapper -->
</template>
